.ui-select {
  --ui-select-color: #{$grey2};
  --ui-select-border: rgba(156 156 156 / 0.1);
  --ui-select-dropdown-color: #{$black};
  --ui-select-dropdown-bg: #{$grey};
  --ui-select-dropdown-border: rgba(156 156 156 / 0.1);
  --ui-select-dropdown-scrollbar: #{$grey2};
  --ui-select-dropdown-scrollbar-thumb: #{$black};

  position: relative;
  width: 100%;
  .select2-container {
    display: block;
    color: var(--ui-select-color);
    .select2 {
      &-selection {
        height: auto;
        background: var(--ui-select-background, transparent);
        border: solid var(--ui-select-border);
        border-width: 0 0 1px;
        border-radius: 0;
        transition: $transition;
        &__rendered {
          padding: 0 30px 10px 0;
          font: 400 14px/1.3 $font;
          color: var(--ui-select-color);
          transition: $transition;
          @include media-mobile {
            font-size: 20px;
          }
        }
        &__placeholder {
          font: inherit;
          color: inherit;
        }
        &__arrow {
          top: 0;
          right: 0;
          transform: none;
          width: 15px;
          height: 15px;
          background: transparent;
          border-radius: 0;
          b {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.53352 4.96364C1.70933 4.78788 1.94774 4.68915 2.19633 4.68915C2.44492 4.68915 2.68334 4.78788 2.85915 4.96364L7.49977 9.60426L12.1404 4.96364C12.3172 4.79287 12.554 4.69837 12.7998 4.70051C13.0456 4.70264 13.2808 4.80124 13.4546 4.97506C13.6284 5.14888 13.727 5.38402 13.7292 5.62982C13.7313 5.87563 13.6368 6.11245 13.466 6.28926L8.16258 11.5927C7.98678 11.7685 7.74836 11.8672 7.49977 11.8672C7.25118 11.8672 7.01277 11.7685 6.83696 11.5927L1.53352 6.28926C1.35777 6.11346 1.25903 5.87504 1.25903 5.62645C1.25903 5.37786 1.35777 5.13945 1.53352 4.96364Z' fill='%239c9c9c'/%3E%3C/svg%3E%0A");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            border: 0;
            opacity: 1;
            transition: $transition;
          }
        }
      }
      &-dropdown {
        margin: 0;
        color: var(--ui-select-dropdown-color);
        background: var(--ui-select-dropdown-bg);
        border: 1px solid var(--ui-select-dropdown-border);
        border-radius: 0;
      }
      &-results {
        padding: 5px 10px;
        font: 400 12px/1.3 $font;
        @include media-mobile {
          padding: 8px 10px;
        }
        &__options {
          max-height: 240px;
          &::-webkit-scrollbar {
            width: 3px;
            background-color: var(--ui-select-dropdown-scrollbar);
          }
          &::-webkit-scrollbar-thumb {
            background-color: var(--ui-select-dropdown-scrollbar-thumb);
          }
        }
        &__option {
          padding: 5px 0;
          font-family: $font;
          white-space: unset;
          transition: $transition;
          @include media-mobile {
            padding: 2px 0;
          }
          &--selectable {
            color: inherit;
            background: none;
          }
          &--selected {
            opacity: 0.6;
          }
          &:hover {
            text-decoration: underline;
            text-underline-offset: 0.2em;
          }
        }
      }
    }
    &.select2-container--open {
      z-index: 5;
      &.select2 {
        z-index: 10;
      }
      .select2-selection {
        &__arrow {
          b {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  &--dark {
    --ui-select-color: #{$grey5};
    --ui-select-dropdown-color: #{$grey5};
    --ui-select-dropdown-bg: #3e3e3e;
    --ui-select-dropdown-border: #3e3e3e;
    --ui-select-dropdown-scrollbar: #{$black};
    --ui-select-dropdown-scrollbar-thumb: #{$grey};
    .select2 {
      &-selection {
        &__arrow {
          b {
            background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.53352 4.96364C1.70933 4.78788 1.94774 4.68915 2.19633 4.68915C2.44492 4.68915 2.68334 4.78788 2.85915 4.96364L7.49977 9.60426L12.1404 4.96364C12.3172 4.79287 12.554 4.69837 12.7998 4.70051C13.0456 4.70264 13.2808 4.80124 13.4546 4.97506C13.6284 5.14888 13.727 5.38402 13.7292 5.62982C13.7313 5.87563 13.6368 6.11245 13.466 6.28926L8.16258 11.5927C7.98678 11.7685 7.74836 11.8672 7.49977 11.8672C7.25118 11.8672 7.01277 11.7685 6.83696 11.5927L1.53352 6.28926C1.35777 6.11346 1.25903 5.87504 1.25903 5.62645C1.25903 5.37786 1.35777 5.13945 1.53352 4.96364Z' fill='%235D5D5D'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
  }
  &--bg-white {
    --ui-select-color: #{$black};
    --ui-select-border: #{$black};
    --ui-select-dropdown-color: #{$black};
    --ui-select-dropdown-bg: #{$white};
    --ui-select-dropdown-border: #{$white};
    .select2-container {
      .select2 {
        &-selection {
          border-width: 1px;
          border-radius: 30px;
          &__rendered {
            padding: 14px 60px 14px 20px;
            font-size: 20px;
            @include media-mobile {
              padding: 9px 50px 9px 15px;
              font-size: 14px;
            }
          }
          &__arrow {
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            @include media-mobile {
              right: 15px;
              width: 18px;
              height: 18px;
            }
            b {
              transform: rotate(270deg);
              background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.53352 4.96364C1.70933 4.78788 1.94774 4.68915 2.19633 4.68915C2.44492 4.68915 2.68334 4.78788 2.85915 4.96364L7.49977 9.60426L12.1404 4.96364C12.3172 4.79287 12.554 4.69837 12.7998 4.70051C13.0456 4.70264 13.2808 4.80124 13.4546 4.97506C13.6284 5.14888 13.727 5.38402 13.7292 5.62982C13.7313 5.87563 13.6368 6.11245 13.466 6.28926L8.16258 11.5927C7.98678 11.7685 7.74836 11.8672 7.49977 11.8672C7.25118 11.8672 7.01277 11.7685 6.83696 11.5927L1.53352 6.28926C1.35777 6.11346 1.25903 5.87504 1.25903 5.62645C1.25903 5.37786 1.35777 5.13945 1.53352 4.96364Z' fill='%23333333'/%3E%3C/svg%3E%0A");
            }
          }
        }
        &-results {
          padding: 10px 20px;
          font-size: 20px;
          @include media-mobile {
            padding: 10px 15px;
            font-size: 14px;
          }
          &__option {
            padding: 10px 0;
            @include media-mobile {
              padding: 5px 0;
            }
          }
        }
      }
      &.select2-container--open {
        background: var(--ui-select-dropdown-bg);
        border-radius: 30px;
        .select2-selection {
          border-radius: 30px;
        }
        &.select2-container--below {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        &.select2-container--above {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }
    &:not(.ui-select--no-events) {
      .select2-container {
        .select2 {
          &-selection {
            @include media-hover {
              --ui-select-color: #{$grey};
              --ui-select-background: #{$black};
              .select2-selection__arrow {
                b {
                  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.53352 4.96364C1.70933 4.78788 1.94774 4.68915 2.19633 4.68915C2.44492 4.68915 2.68334 4.78788 2.85915 4.96364L7.49977 9.60426L12.1404 4.96364C12.3172 4.79287 12.554 4.69837 12.7998 4.70051C13.0456 4.70264 13.2808 4.80124 13.4546 4.97506C13.6284 5.14888 13.727 5.38402 13.7292 5.62982C13.7313 5.87563 13.6368 6.11245 13.466 6.28926L8.16258 11.5927C7.98678 11.7685 7.74836 11.8672 7.49977 11.8672C7.25118 11.8672 7.01277 11.7685 6.83696 11.5927L1.53352 6.28926C1.35777 6.11346 1.25903 5.87504 1.25903 5.62645C1.25903 5.37786 1.35777 5.13945 1.53352 4.96364Z' fill='%23f8fafc'/%3E%3C/svg%3E%0A");
                }
              }
            }
          }
        }
      }
    }
    &.ui-select--no-events {
      @include media-hover {
        --ui-select-color: #{$grey};
        --ui-select-background: #{$black};
        .select2-container {
          .select2 {
            &-selection {
              &__arrow {
                b {
                  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.53352 4.96364C1.70933 4.78788 1.94774 4.68915 2.19633 4.68915C2.44492 4.68915 2.68334 4.78788 2.85915 4.96364L7.49977 9.60426L12.1404 4.96364C12.3172 4.79287 12.554 4.69837 12.7998 4.70051C13.0456 4.70264 13.2808 4.80124 13.4546 4.97506C13.6284 5.14888 13.727 5.38402 13.7292 5.62982C13.7313 5.87563 13.6368 6.11245 13.466 6.28926L8.16258 11.5927C7.98678 11.7685 7.74836 11.8672 7.49977 11.8672C7.25118 11.8672 7.01277 11.7685 6.83696 11.5927L1.53352 6.28926C1.35777 6.11346 1.25903 5.87504 1.25903 5.62645C1.25903 5.37786 1.35777 5.13945 1.53352 4.96364Z' fill='%23f8fafc'/%3E%3C/svg%3E%0A");
                }
              }
            }
          }
        }
      }
    }
  }
  &--max-w {
    max-width: 520px;
  }
  &--no-events {
    .select2-container {
      pointer-events: none;
    }
  }
}
