mixin page-404(mods)
  -
    const baseName = 'page-404'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .page-404(class=allMods)&attributes(attributes)
    .inner
      .page-404__wrapper
        +ui-p1('[Ошибка]', 'page-404')
        .page-404__content
          .page-404__num 404
          +ui-h2('Упс! Похоже, вы попали на страницу, которой нет в нашем архитектурном проекте.', 'page-404')
        +ui-button('Перейти на главную страницу', 'page-404, --size-xs, --t-w100, --dark-bg')(href='/')
    block
