.page-progress {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 105;
  width: 100%;
  height: 4px;
  background: $grey;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--page-progress-value);
    height: 100%;
    background: $black;
  }
}
