.ui-h1 {
  margin: 0;
  font-weight: 400;
  font-size: 78px;
  line-height: 1;
  @include media-laptop {
    font-size: 54px;
  }
  @include media-mobile {
    font-size: 33px;
  }
}
.ui-h2 {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  @include media-laptop {
    font-size: 28px;
  }
  @include media-mobile {
    font-size: 20px;
  }
}
[class*='ui-h'] {
  &[class*='--bold'] {
    font-weight: 700;
  }
  &[class*='--mob-h1'] {
    @include media-mobile {
      font-size: 33px;
    }
  }
}
