mixin loader(mods)
  -
    const baseName = 'loader'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .loader(class=allMods)&attributes(attributes)
    .loader__text
      .loader__item РСО
      .loader__item -ПРОЕКТНЫЙ
      .loader__item &nbsp;ЦЕНТР
    block
