.section-img {
  &--t-cover {
    img {
      @include media-laptop {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &--t-max-h {
    img {
      @include media-laptop {
        max-height: 440px;
      }
    }
  }
}
