mixin img-wrapper(img, mods)
  -
    const baseName = 'img-wrapper'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .img-wrapper(class=allMods)&attributes(attributes)
    img(src=img, alt='')
    block
