.share {
  padding: 20px;
  background: $white;
  @include media-mobile {
    padding: 10px;
  }
  &__wrapper {
    display: flex;
    gap: 20px;
    @include media-mobile {
      gap: 10px;
    }
  }
  &__button {
    padding: 0;
    background: transparent;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    &--active {
      .share__icon {
        &-hidden {
          display: block;
        }
      }
    }
  }
  &__icon {
    position: relative;
    width: 39px;
    height: 39px;
    margin: 0 auto 5px;
    &-hidden {
      position: absolute;
      inset: 0;
      display: none;
    }
  }
}
