mixin section-head(descr, mods, hasMain)
  -
    const baseName = 'section-head'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .section-head(class=allMods)&attributes(attributes)
    if descr
      +ui-p1(descr).section-head__descr
    if hasMain !== false
      .section-head__main
        block
