mixin news-list(type, itemMods, mods)
  -
    const baseName = 'news-list'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  case type
    when 'slider'
      .news-list.news-list--slider(class=allMods)&attributes(attributes)
        .swiper
          .swiper-wrapper
            -for( let i=0; i<6; i++)
              +news-item(`news-list ${itemMods ? itemMods : ''}`).swiper-slide
          +ui-swiper-pagination('news-list, --d-light')
        block
    default
      .news-list(class=allMods)&attributes(attributes)
        -for( let i=0; i<6; i++)
          +news-item('news-list').swiper-slide
        block
