mixin location-map(mods)
  -
    const baseName = 'location-map'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .location-map.js-location-map(class=allMods data-coords-lat='51.678203' data-coords-lng='39.219143' data-zoom='12')&attributes(attributes)
    block
