mixin cooperation(mods)
  -
    const baseName = 'cooperation'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .cooperation(class=allMods)&attributes(attributes)
    .inner
      .cooperation__wrapper
        .cooperation__img
          img(src='img/cooperation_img.jpg', alt='')
        .cooperation__content.ui-relative
          .cooperation__head
            +ui-h1('Приглашаем к&nbsp;сотрудничеству', 'cooperation')
            +ui-h2('Текст с описанием и призывом к&nbsp;действию', 'cooperation')
          +form-cooperation('cooperation')
          +form-thank({ onclick: `window.formThankHide('#form-cooperation', $(this))`, btnMods: '--light-bg' }, '--dark')#form-thank-cooperation
    block
