extends layouts/layout

block variables
  -
    const pageName = 'cooperation'
    const pageTitle = 'Приглашаем к сотрудничеству'

block content
  main#main.main.main--pt-header
    +section('--pd0, --animation')
      +cooperation
