extends layouts/layout

block variables
  -
    const pageName = 'main'
    const pageTitle = 'Главная'

  -
    const bannerData = {
      buttonDown: true,
      items: [
        {
          img: 'img/banner-img-main-1.jpg',
          h1: 'Архитектурное бюро <span class="ui-nowrap">"РСО-Проектный</span> Центр"',
          h1Mods: ', --bold',
          p1: 'Мы являемся ведущей компанией в области проектирования, специализирующейся на создании современных, функциональных и эстетичных зданий и сооружений. Наш опыт включает в себя проектирование жилых, общественных, производственных и сельскохозяйственных объектов.',
        },
        {
          img: 'img/banner-img-main-1.jpg',
          h1: 'Архитектурное бюро <span class="ui-nowrap">"РСО-Проектный</span> Центр" 2',
          h1Mods: ', --bold',
          p1: 'Мы являемся ведущей компанией в области проектирования, специализирующейся на создании современных, функциональных и эстетичных зданий и сооружений. Наш опыт включает в себя проектирование жилых, общественных, производственных и сельскохозяйственных объектов.',
        },
        {
          img: 'img/banner-img-main-1.jpg',
          h1: 'Архитектурное бюро <span class="ui-nowrap">"РСО-Проектный</span> Центр" 3',
          p1: 'Мы являемся ведущей компанией в области проектирования/',
        },
      ]
    }

  -
    const projectsData1 = {
      items: [
        { img: 'img/projects_img.jpg', h2: 'Выполнение функций генерального проектироващика' },
        { img: 'img/projects_img.jpg', h2: 'Выполнение функций генерального проектироващика' },
        { img: 'img/projects_img.jpg', h2: 'Выполнение функций генерального проектироващика' },
        { img: 'img/projects_img.jpg', h2: 'Выполнение функций генерального проектироващика' },
      ]
    }

  -
    const projectsData2 = {
      itemMods: ', --bb, --light',
      items: [
        { img: 'img/projects_img.jpg', h2: 'Разработка проектной и рабочей документации для строительства', p1: 'Год реализации 2023', p1Class: 'ui-grey2' },
        { img: 'img/projects_img.jpg', h2: 'Разработка проектной и рабочей документации для строительства', p1: 'Год реализации 2023', p1Class: 'ui-grey2' },
        { img: 'img/projects_img.jpg', h2: 'Разработка проектной и рабочей документации для строительства', p1: 'Год реализации 2023', p1Class: 'ui-grey2' },
        { img: 'img/projects_img.jpg', h2: 'Разработка проектной и рабочей документации для строительства', p1: 'Год реализации 2023', p1Class: 'ui-grey2' },
      ]
    }

  -
    const advantagesData ={
      items: [
        { h2: 'Обширный опыт', p1: 'Мы обладаем 6-летним опытом работы в сфере архитектуры, что гарантирует нашу экспертизу и профессионализм в каждом проекте' },
        { h2: 'Гарантия качества', p1: 'Независимо от сложности проекта, мы гарантируем высокое качество выполнения, опираясь на наш профессионализм и опыт.' },
        { h2: 'Богатое портфолио', p1: 'Наше портфолио включает сотни успешных проектов, демонстрируя наше мастерство и способность к реализации разнообразных задач.' },
        { h2: 'Ориентация на результат', p1: 'Мы не просто выполняем задачи, мы стремимся к достижению конкретных результатов для наших клиентов, учитывая их потребности и ожидания.' },
        { h2: 'Гибкая ценовая политика', p1: 'Мы предлагаем гибкие цены, что позволяет адаптироваться к разным бюджетам клиентов и обеспечивать доступность наших услуг для широкого круга заказчиков.' },
        { h2: 'Творческий дизайн', p1: 'Креативные решения, отражающие индивидуальность каждого проекта. Уделяем внимание деталям и эстетике.' },
      ]
    }

  -
    const objectsData = {
      items: [
        { img: 'img/objects-img-1.jpg', h2: 'Промышленные и складские объекты' },
        { img: 'img/objects-img-2.jpg', h2: 'Жилые здания' },
        { img: 'img/objects-img-3.jpg', h2: 'Общественные здания' },
        { img: 'img/objects-img-4.jpg', h2: 'Сельскохозяйственные комплексы' },
        { img: 'img/objects-img-5.jpg', h2: 'Линейные объекты' },
      ]
    }

  -
    const whoWeData =[
      { img: 'img/who-we-img-main-1.jpg',
        p1: 'Мы осуществляем процесс разработки проектов с самого начала до конца, обеспечивая клиентов полным пакетом документации, необходимой для успешной реализации их идей. Наша методология работы включает в себя тщательный анализ потребностей клиента, создание индивидуальных концепций и эскизов, а также разработку подробных технических проектов',
      },
      { img: 'img/who-we-img-main-2.jpg',
        p1: 'В сердце нашего успеха лежит команда высококвалифицированных специалистов, объединенных общей целью - превзойти ожидания клиентов. Архитекторы, инженеры, дизайнеры и другие профессионалы собраны под одной крышей, где каждый вносит свой уникальный вклад в создание инновационных решений',
      },
    ]

  -
    const contactsData ={
      buttonMods: ', --light'
    }

  -
    const formData = {
      inputsMods: '--dark',
      submitMods: '--light-bg'
    }

block content
  main#main.main
    +banner(bannerData, '--main')
    +nav
    +section()#section-what-are-we-doing(data-section='Что мы делаем')
      .inner
        +section-head('[Что мы делаем]')
          +ui-h1('Воплощаем Ваши идеи в&nbsp;совершенные проекты', 'section-head')
        +projects-list(projectsData1)
        +section-box
          +ui-button('Узнать подробнее', '--w100')(href='#')
    +section('--bg')#section-objects(data-section='Объекты проектирования')
      .inner
        +section-head('[Объекты проектирования]')
          +ui-h1('Объекты проектирования в&nbsp;нашем бюро', 'section-head')
        +objects(objectsData)
        +section-box
          +ui-button('Узнать подробнее', '--w100, --light')(href='#')
    +section('--animation')#section-advantages(data-section='Преимущества')
      .inner
        +section-head('[Преимущества]')
          +ui-h1('Почему мы - лучший выбор в&nbsp;проектировании', 'section-head')
        +section-grid
          +advantages(advantagesData)
          +section-grid-item('--d-order-1, --d-al-end')
            +ui-p1('').ui-grey2
              | “В мире стремительных перемен и инноваций, выбор правильного партнера для проектирования становится важным фактором успеха. Наша компания, "РСО-Проектный Центр", безусловно, занимает лидирующее положение в этой области, и вот почему мы -  лучший выбор.”
    +section('--bg, --animation')#section-who-we(data-section='Кто? Мы')
      .inner
        +section-head('[Кто? Мы]')
          +ui-h1('Наша организация является ключевым партнером в осуществлении амбициозных идей клиентов', 'section-head')
          +ui-h2('Мы специализируемся на комплексном проектировании и разработке строительства проектов. Широкий спектр услуг и высокий уровень квалификации специалистов', 'section-head')
        +section-grid
          +who-we(whoWeData)
          +section-grid-item('--d-order-1, --d-al-end')
            +ui-button('Узнать подробнее', '--size-s, --t-w100, --light')(href='#')
    +section('--animation')#section-clients(data-section='С кем мы работаем')
      .inner
        +clients
    +section('--bg')#section-projects(data-section='Реализованные объекты')
      .inner
        +section-head('[Реализованные объекты]')
          +ui-h1('Наши выполненные проекты', 'section-head')
        +projects-list(projectsData2)
        +section-box
          +ui-button('Посмотреть больше проектов', '--w100, --light')(href='#')
    +section#section-news(data-section='Обновления компании')
      .inner
        +section-head('[Обновления компании]')
          +ui-h1('Последние новости', 'section-head')
        +news-list('slider', '', ', --d-disabled')
        +section-box
          +ui-button('Читать другие новости', '--w100')(href='#')
    +section('--bg, --animation')#section-contacts(data-section='Где мы находимся')
      .inner
        +section-head('[Где мы находимся?]')
          +ui-h1('Наши контакты', 'section-head')
        +contacts(contactsData)
        +section-box('--d-bt')
          +find-cost(formData, '', '--dark')
    +section('--pd0, --animation')
      +location-map
  +popup('', '--s')#popup-legal-info
    +popup-info
