extends layouts/layout

block variables
  -
    const pageName = 'news-inner'
    const pageTitle = 'Новости - детальная'

  -
    const bannerData = {
      items: [{
        imgMods: '--y-20',
        img: 'img/banner-img-news-inner.jpg',
        label: '[Дата публикации: 11.08.2023]',
        labelMods: 'banner__label--mob-none',
        h1: 'Название новости',
      }]
    }

block content
  main#main.main
    +banner(bannerData)
    +section('--t-pb-0, --animation')
      .inner
        +section-grid('--text-aside')
          +section-grid-item
            +section-head('', '--col-1')
              +ui-h2('Инновационные технологии в строительстве: наша компания внедряет умные решения!', 'section-head')
            +text
              p С гордостью сообщаем, что ООО "РСО-Проектный Центр" внедряет передовые технологии в области строительства. Мы запускаем новый проект, направленный на использование умных систем управления в процессе возведения жилых комплексов.
              p Эти инновационные решения позволят нам оптимизировать производственные процессы, повысить эффективность использования ресурсов и обеспечить высший уровень комфорта для будущих жильцов. Системы умного дома, энергосберегающие технологии и многие другие инновации станут неотъемлемой частью наших будущих проектов.
              p Наша компания продолжает быть лидером в применении передовых технологий в строительной отрасли. Следите за нами, чтобы быть в курсе последних новостей и достижений в мире инновационного строительства!"
              br
              p С гордостью сообщаем, что ООО "РСО-Проектный Центр" внедряет передовые технологии в области строительства. Мы запускаем новый проект, направленный на использование умных систем управления в процессе возведения жилых комплексов.
              p Эти инновационные решения позволят нам оптимизировать производственные процессы, повысить эффективность использования ресурсов и обеспечить высший уровень комфорта для будущих жильцов. Системы умного дома, энергосберегающие технологии и многие другие инновации станут неотъемлемой частью наших будущих проектов.
              p Наша компания продолжает быть лидером в применении передовых технологий в строительной отрасли. Следите за нами, чтобы быть в курсе последних новостей и достижений в мире инновационного строительства!"
              br
              p С гордостью сообщаем, что ООО "РСО-Проектный Центр" внедряет передовые технологии в области строительства. Мы запускаем новый проект, направленный на использование умных систем управления в процессе возведения жилых комплексов.
              p Эти инновационные решения позволят нам оптимизировать производственные процессы, повысить эффективность использования ресурсов и обеспечить высший уровень комфорта для будущих жильцов. Системы умного дома, энергосберегающие технологии и многие другие инновации станут неотъемлемой частью наших будущих проектов.
              p Наша компания продолжает быть лидером в применении передовых технологий в строительной отрасли. Следите за нами, чтобы быть в курсе последних новостей и достижений в мире инновационного строительства!"
          +section-grid-item('--d-sticky')
            +section-box('--bg, --bg-t-outside').ui-relative
              +section-head('', '--col-1, --mb-xs, --p1-mt-xs')
                +ui-h2('Консультация онлайн', 'section-head')
                +ui-p1('Оставьте заявку и мы свяжемся с вами, чтобы обсудить проект или ответить на все ваши воапросы', 'section-head')
              +form-cooperation('--d-size-xs')
              +form-thank({ onclick: `window.formThankHide('#form-cooperation', $(this))`, btnMods: '--light-bg' }, '--dark')#form-thank-cooperation
    +section('--d-bg, --animation')
      .inner
        +section-head('[Другие новости]')
          +ui-h1('Читайте больше новостей', 'section-head')
        +news-list('slider', ', --d-light')
