extends layouts/layout

block variables
  -
    const pageName = 'objects'
    const pageTitle = 'Объекты проектирования'

  -
    const bannerData = {
      items: [{
        imgMods: '--left-bottom',
        img: 'img/banner-img-objects.jpg',
        h1: 'Объекты проектирования',
      }]
    }

  -
    const objectsData = {
      items: [
        { img: 'img/objects-img-1.jpg', h2: 'Промышленные и складские объекты' },
        { img: 'img/objects-img-2.jpg', h2: 'Жилые здания' },
        { img: 'img/objects-img-3.jpg', h2: 'Общественные здания' },
        { img: 'img/objects-img-4.jpg', h2: 'Сельскохозяйственные комплексы' },
        { img: 'img/objects-img-5.jpg', h2: 'Линейные объекты' },
      ]
    }

block content
  main#main.main
    +banner(bannerData)
    +section('--animation')
      .inner
        +section-head('[Общая информация]')
          +ui-h1('Проектирование зданий и сооружений', 'section-head')
          +ui-p1('', 'section-head')
            p Ключевым фактором успешного строительства является не только красивый и функциональный дизайн, но и строгое соответствие актуальным строительным стандартам и требованиям. Мы гарантируем, что каждое готовое сооружение, созданное нами, соответствует высоким стандартам безопасности и эффективности.
            p Ключевым фактором успешного строительства является не только красивый и функциональный дизайн, но и строгое соответствие актуальным строительным стандартам и требованиям. Мы гарантируем, что каждое готовое сооружение, созданное нами, соответствует высоким стандартам безопасности и эффективности.
            p Ключевым фактором успешного строительства является не только красивый и функциональный дизайн, но и строгое соответствие актуальным строительным стандартам и требованиям. Мы гарантируем, что каждое готовое сооружение, созданное нами, соответствует высоким стандартам безопасности и эффективности.
    +section('--bg')
      .inner
        +section-head('[Объекты проектирования]')
          +ui-h1('Объекты проектирования в&nbsp;нашем бюро', 'section-head')
        +objects(objectsData)
