block variables
include ../blocks/mixins

doctype html
html(lang='ru')
  block head
    head
      meta(charset='utf-8')
      title=pageTitle
      meta(content='width=device-width, initial-scale=1' name='viewport')
      meta(content='ie=edge' http-equiv='x-ua-compatible')
      link(rel='icon' href='/img/svgs/favicon.svg')
      link(rel='stylesheet' href='css/style.css')
      <script src="https://api-maps.yandex.ru/2.1/?apikey=7742add4-5d3c-4060-9f01-67963d12fb4e&lang=ru_RU" type="text/javascript"></script>
  body
    .wrapper
      block header
        include ../blocks/header/header
      block content
      block footer
        include ../blocks/footer/footer

      +loader
      +cursor

    block scripts
      script(src='libs/jquery/jquery.js')
      script(src='libs/imask/imask.js')
      script(src='libs/select2/select2.min.js')
      script(src='libs/dropzone/dropzone.js')
      script(src='libs/swiper/swiper.js')
      script(src='libs/gsap/gsap.min.js')
      script(src='libs/gsap/ScrollTrigger.min.js')
      script(src='js/index.js')
