mixin achievements(mods)
  -
    const baseName = 'achievements'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  -
    const data = [
      { h2: '338 проектов',
        p1: 'Разработано 338 комплексных решений различной сложности, каждый из них успешно получил разрешение на строительство.',
      },
      { h2: 'Гибкость и оперативность',
        p1: 'Благодаря многопрофильным подразделениям команды, мы работаем над вашим проектом в нескольких направлениях, придерживаясь точных сроков.',
      },
      { h2: 'Конкурентоспособные цены',
        p1: 'Наши цены на проектирование одни из самых привлекательных на рынке.',
      },
      { h2: 'Богатый опыт',
        p1: 'Более 697 тыс. м2 уникальных и экономически выгодных проектов разработаны нашей компанией.',
      },
      { h2: 'Полный цикл реализации проекта',
        p1: 'От идеи до ввода объекта в эксплуатацию.',
      },
      { h2: 'Поддержка клиентов',
        p1: 'Каждый наш проект достигает своей цели и получает разрешение на строительство, помогая нашим клиентам заработать более 1 млрд ₽.',
      },
      { h2: 'Индивидуальный подход',
        p1: 'Грамотное индивидуальное техническое задание экономит время заказчика.',
      },
    ]

  .achievements(class=allMods)&attributes(attributes)
    each item in data
      .achievements__item
        +ui-h2(item.h2, 'achievements')
        +ui-p1(item.p1, 'achievements')
    block
