mixin popup(mods, modsContainer, closeButton)
  -
    const baseName = 'popup'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .popup(class=allMods)&attributes(attributes)
    .popup__container(class = modsContainer ? `popup__container${modsContainer}` : '')
      button.popup__close(onclick=`window.closePopup($(this).parents('.popup'))`)
        +svg('icon_cross')
      block
